/* .donation-card {

  border-radius: 0.75rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  box-sizing: border-box;
} */
.donation-card {
  display: flex;
  gap: 1.5rem;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  cursor: pointer;
}

.donation-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.donation-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.donation-card__image-container {
  width: 220px;
  flex-shrink: 0;
}

.donation-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.donation-image {
  width: 100%;
  height: 6rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.donation-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.yayasan-name {
    font-size: 0.875rem; /* text-sm */
    color: #4b5563; /* gray-600 */
    margin-bottom: 10px;
}
  
.donation-label {
    font-size: 0.75rem; /* text-xs */
    color: #6b7280; /* gray-500 */
    padding-bottom: 10px;
}
  
.donation-amount {
    font-size: 0.875rem;
    color: #3b82f6; /* blue-500 */
}

.progress-bar {
    height: 0.25rem;
    background-color: #d1d5db;
    border-radius: 9999px;
    overflow: hidden;
    margin: 0.5rem 0;
}
  
.progress-fill {
    width: 50%;
    height: 100%;
    background-color: #3b82f6; /* Tailwind blue-500 */
}

.donor-info {
    font-size: 0.75rem;
    color: #6b7280;
}
  
.days-left {
    font-size: 0.75rem;
    color: #6b7280;
    text-align: right;
}

@media screen and (max-width: 678px) {
  .donation-card {
    max-width: 100%;
    padding: 0.75rem;
  }

  .donation-image {
    height: 5rem;
  }

  .donation-title {
    font-size: 14px;
    text-align: center;
  }

  .yayasan-name,
  .donation-label,
  .donation-amount,
  .donor-info,
  .days-left {
    font-size: 75rem;
    text-align: center;
  }

  .progress-bar {
    margin: 0.5rem auto;
    width: 100%;
  }

  .days-left {
    text-align: center;
    margin-top: 25rem;
  }
}