.donation-page {
    background-color: #f3f4f6;
    min-height: 100vh;
    
}

.main-content {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
    /* margin-left: 550px; */
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-placeholder {
    width: 100%;
    height: 250px;
    background-color: #d1d5db;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.donationdetail-title {
    text-align: center;
    font-weight: 600;
}

.donation-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.sub-info {
    padding-top: 1rem;
    color: gray;
}

.progress-bar-container {
    margin-top: 1rem;
}

.progress-bar {
    height: 4px;
    background-color: #d1d5db;
    position: relative;
}

.progress-bar-fill {
    background-color: #3b82f6;
    width: 33%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-text {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #4b5563;
    margin-top: 0.25rem;
}

.section {
    margin-top: 1.5rem;
}

.textarea {
    width: 98%;
    height: 8rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    resize: none;
    background-color: white;
}

.button-container {
    margin-top: 2rem;
}

.donate-button {
    width: 100%;
    height: 3;
    background-color: #d1d5db;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #9ca3af;
}

label{
    font-size: 14px;
}